<div class="header header-landing">
  <div class="header-text">
    <h1 class="header-title"><b>Cutesy Putsy</b></h1>
    <h3>For All Your Cutesy Shit</h3>
    <br>
    <%= form_for @subscriber, url: home_create_subscriber_path do |f| %>
      <%= f.text_field :email, class: 'header-field', placeholder: 'Email' %>
      <br>
      <br>
      <%= link_to 'About', '#intro', class: 'btn btn-large btn-default btn-landing' %>
      <%= link_to 'Instagram', 'https://instagram.com/cutesyputsy', class: 'btn btn-large btn-default btn-landing' %>
      <%= f.submit 'Subscribe', class: 'btn btn-large btn-default btn-subscribe' %>
    <% end %>
  </div>
</div>

<div id="intro" class="intro">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2">
      <h1 class="section-title"><b>Section 1</b></h1>
      <br>
      <p>Lorem Ipsum</p>
    </div>
  </div>
</div>
<hr class="dark">
<div id="elaborate" class="intro">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2">
      <h1 class="section-title"><b>Section 2</b></h1>
      <br>
      <p>Lorem Ipsum</p>
    </div>
  </div>
</div>
<hr class="dark">
<div id="contact" class="intro">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2">
      <h1 class="section-title"><b>Section 3</b></h1>
      <br>
      <p>Lorem Ipsum</p>
    </div>
  </div>
</div>
<hr class="dark">
<div id="contact" class="intro">
  <div class="container">
    <div class="row col-md-6 col-md-offset-3">
      <a href="#" target="_blank"><i class="fa fa-facebook-official fa-4x dark-icon"></i></a>
      <a href="https://instagram.com/cutesyputsy/" target="_blank"><i class="fa fa-instagram fa-4x dark-icon"></i></a>
      <a href="mailto:cutesyputsy@gmail.com" target="_top"><i class="fa fa-envelope fa-4x dark-icon"></i></a>
      <p>&copy Peihong Li 2014</p>
    </div>
  </div>
</div>
